       <!-- Navbar start -->
       <nav class="navbar">
        <a href="{{site.url}}" class="navbar-brand ml-10 ml-sm-20">
            <img class="hidden-dm" src="{{ '/assets/img/dark.png' | relative_url }}" alt="IT World ID">
            <img class="hidden-lm" src="{{ '/assets/img/light.png' | relative_url }}" alt="IT World ID">
        </a>
<!-- Navbar text -->
<span class="navbar-text ml-5"> <!-- ml-5 = margin-left: 0.5rem (5px) -->
    <span class="badge text-monospace">v{{ site.version }}</span> <!-- text-monospace = font-family shifted to monospace -->
  </span>
  <!-- Navbar nav -->
  <ul class="navbar-nav hidden-md-and-down "> <!-- ml-auto = margin-left: auto -->
  {% for page in site.pages %}
    <li class="nav-item {% if pages.url == page.url | relative_url %} active {% endif %}">
      <a href="{{ page.url }}" class="nav-link">{{ page.title }}</a>
    </li>
    {% endfor %}
  </ul>
  <div class="navbar-content ml-auto">
    <button class="btn btn-square btn-rounded" type="button" onclick="halfmoon.toggleDarkMode()" aria-label="Toggle dark mode">
        <i class="hidden-dm fa fa-moon-o" aria-hidden="true"></i>
        <i class="hidden-lm fa fa-moon" aria-hidden="true"></i>
    </button>
</div>
<div class="navbar-content hidden-md-and-down">
  <a class="btn btn-primary" type="button">Gabung</a>
</div>
<div class="navbar-content hidden-lg-and-up">
  <div class="dropdown with-arrow">
    <button class="btn navbar-menu-btn" data-toggle="dropdown" type="button" id="navbar-dropdown-toggle-btn" aria-haspopup="true" aria-expanded="false">
        <span class="text">Menu</span>
        <i class="fa fa-angle-down" aria-hidden="true"></i>
    </button>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbar-dropdown-toggle-btn">
  {% for page in site.pages %}
        <a href="{{ page.url }}" class="dropdown-item">{{ page.title }}</a>
        {% endfor %}
        <div class="dropdown-divider"></div>


        <div class="dropdown-content">
            <a href="#" class="btn btn-primary btn-download-sm" role="button">
                <span class="ml-5">Gabung</span>
            </a>
        </div>
    </div>
</div>
</div>
    </nav>
    <!-- Navbar end -->