---
layout: default
---
<div class="content-wrapper bg bg-light-lm bg-dark-dm css-scrollbar-transparent-track">

    <div class="container-lg h-full">
        <div class="row h-full">
            <div class="col-md-8 offset-md-2 bg-white-lm bg-dark-light-dm">

                <!-- Page content start -->
                
<div class="content">
<h1 class="content-title mb-0" style="font-size: 2.8rem;">
{{ page.title}}
</h1>
<p class="text-muted mt-0">
Last updated: {{ page.date }}
</p>
{% if page.image.src %}
          <img src="{{ page.image.src }}" class="img-fluid" alt="{{ page.image.alt | default: "Preview Image" }}">
        {% endif %}
{{ content }}

<hr>
{% for author in site.data.author %}
<a href="{{author.url }}" class="card sponsor-section-card mw-full m-0 p-0 d-flex" target="_blank" rel="noopener">
    <div class="w-60 h-60 m-10 align-self-center">
        <div class="w-60 h-60 rounded d-flex align-items-center justify-content-center bg-light-lm bg-dark-light-dm text-dark-lm text-light-dm">
            <i class="fa fa-user-o font-size-18" aria-hidden="true"></i>
            <span class="sr-only">User Image</span>
        </div>
    </div>
    <div class="flex-grow-1 d-flex align-items-center">
        <div class="p-10 w-full m-auto">
            <p class="m-0 font-weight-medium text-dark-lm text-light-dm">
                {{author.nama}} <i class="fa fa-star ml-5" aria-hidden="true"></i>
            </p>
            <p class="m-0 mt-5 text-muted font-size-12">
                {{ author.bio }} 
            </p>
        </div>
    </div>
</a>
{% endfor %}
</div>

                <!-- Page content end -->

            </div>
        </div>
    </div>

</div>